.present{
    padding: 100px 30px;
    &__title {
        width: 100%;
        margin-bottom: 30px;
    }
    &__wrapper {
        display: flex;
        align-items: start;
        justify-content: space-between;
    }
    &__left {
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        font-size: 18px;
        line-height: 150%;
        margin-bottom: 30px;
        color: $darkColor;
        max-width: 600px;
        &-descr {
            font-family: 'Montserrat', sans-serif;
            font-weight: 400;
            font-size: 18px;
            line-height: 150%;
            margin-bottom: 30px;
            color: $darkColor;
            max-width: 600px;
        }   
        &-title {
            font-family: 'Montserrat', sans-serif;
            font-weight: 400;
            font-size: 18px;
            line-height: 150%;
            color: $darkColor;
            max-width: 600px;
        }     
    }
    &__list {
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        font-size: 18px;
        line-height: 150%;
        margin-bottom: 30px;
        color: $darkColor;
        max-width: 600px;
    }
    &__btn {
        max-width: 340px;
        width: 100%;
        height: 60px;
        font-size: 22px;
    }
    &__img {
        width: 100%;
        height: auto;
    }
}